# File: docs/requirements.txt

# Defining the exact version so things don't break
sphinx==4.2.0
sphinx_rtd_theme==1.0.0
nbsphinx==0.9.3
readthedocs-sphinx-search==0.1.1
numpy==1.24.0
scipy==1.10.1
delicatessen
IPython
